<div class="b-date">
    <!--ui-mask="ZZZZ/ZZ/ZZ"-->
   <input ui-mask="ZZZZ/ZZ/ZZ"  dir="ltr" class="b-date-input" ng-keyup="updateDate()" ng-change="updateDate()" type="text"
           ng-model="date"/>
    <div ng-click="pickerClick($event)" class="date-picker ng-hide"
         ng-style="{'left':picker.left.toString()+'px','top':picker.top.toString()+'px','width':picker.width.toString()+'px'}">
        <select ng-model="selectedYear" ng-options="y as y.year for y in years" ng-change="updateDate(selectedYear.year,null,null)"></select>
        <span class="goto-today" ng-click="gotoToday()" >امروز</span>
        <select ng-model="selectedMonth" ng-options="m as m.month for m in months" ng-change="updateDate(null,selectedMonth.id+1,null)"  class="pull-left"></select>
        <table class="picker-table">
            <thead>
                <tr>
                    <td ng-repeat="name in dayName" ng-bind="name"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="days in picker.table track by $index">
                    <td ng-repeat="day in days track by $index" ng-class="{'hollyday':$last&&day>0,'selected-day':day==selectedDay}" ng-click="updateDate(null,null,day);hide()">
                        <span ng-show="day>0" ng-bind="day"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
